<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
    <style>
      body{background:skyblue; font-family:verdana; color:#fff; padding:30px;}
      h1{font-size:40px; text-align:center; text-transform:uppercase; letter-spacing: 2px;}
      p{font-size:16px; text-align:center;}
      #Contact-Form{text-align: center;display:flex;letter-spacing: 2px;}
    </style>
  </head>
  <body>
    <%- include('partials/nav'); %>
<h1>contact us</h1>
<p>We are ready to provide any service for you</p>
<form id="Contact-Form" method='POST' action='/contact'>
  <label for="who">Who do u want to consult ?</label><br>
  <input type="text" name="Who" value="<%=qs.person%>"><br>
  <label for="department">Which department ?</label><br>
  <input type="text" name="Department" value="<%=qs.department%>"><br>
  <label for="email">Enter your mail id:</label><br>
  <input type="email" name="email" value=""><br>
  <input type="submit" name="Submit" value="Submit">
</form>

  </body>
</html>
