<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
    <style>
      body{background:skyblue; font-family:verdana; color:#fff; padding:30px;}
      h1{font-size:40px; text-align:center; text-transform:uppercase; letter-spacing: 2px;}
      p{font-size:16px; text-align:center;}
      #Contact-Form{text-align: center;display:flex;letter-spacing: 2px;}
    </style>
  </head>
  <body>
    <%- include('partials/nav'); %>
<h1>contact us</h1>
<p>You have requested to contact  with <%= data.Who %> of the department <%= data.Department %></p>
<p>We will contact you with <%=data.email%></p>
  </body>
</html>
